# ~/.aliases: Common aliases

# Author:   Andreas Weyer <dev@cbaoth.de>
# Keywords: zsh bash shell-script aliases

# Common aliases for all shells

# {{{ - GENERAL --------------------------------------------------------------
# allow sudo and other commands to use aliases as arguments
# https://askubuntu.com/a/22043/234212
alias sudo='sudo '
alias watch='watch '

# change directory shortcuts
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'

# file operations
alias cp='cp -i'
alias mv='mv -i'

# editors
alias e='emacs -nw'
alias vim='vim -N'
alias vi='vim -N'
alias v='vim -N'

# add --color option to all grep commands and add -i aliases
for c in '' e f r z; do
  alias ${c}grep="${c}grep --color"
  alias ${c}grepi="${c}grep --color -i"
done

#alias sws='echo 4 > /proc/acpi/sleep'
alias psa='ps uxaw --cols 64000'
alias psf='ps aw --forest --cols 64000'
alias killall9='pkill -9 -x'
alias kill-suspend='kill -TSTP'
alias kill-resume='kill -CONT'

# backup source to target (no deletion but overwrite)
# show progress, ignoring ext. links
alias rsync-backup='rsync -axvuh --safe-links --info=progress2'
# in addition to the above, compress and keep partial files
alias rsync-backup-remote='rsync -axvuh --safe-links -Pz'
# same as above but backup files that are to be overwritten/deleted (target)
alias rsync-backup-safe='rsync -axvuh --safe-links --info=progress2 --backup'
alias rsync-backup-safe-remote='rsync -axvuh --safe-links -Pz --backup'

# sync source to target (delete files in target if missing in source)
alias rsync-sync='rsync -axvuh --safe-links --info=progress2 -i --delete'
alias rsync-sync-remote='rsync -axvuh --safe-links -Piz --delete'
# same as above but backup files that are to be overwritten/deleted (target)
alias rsync-sync-safe='rsync -axvuh --safe-links --info=progress2 -i --delete --backup'
alias rsync-sync-safe-remote='rsync -axvuh --safe-links -Piz --delete --backup'

# clone with permissions, links, etc.
alias rsync-clone='rsync -axHAWXS --numeric-ids --info=progress2'
# compare source and target, list all files that are different/new/missing
alias rsync-diff='rsync -axvnc'
alias rsync-diff-quick='rsync -axvnu'
# }}} - GENERAL --------------------------------------------------------------

# {{{ - SYSTEM ---------------------------------------------------------------
alias ls-disk-uuid='sudo blkid -c /dev/null'
alias ls-part='sudo fdisk -l | egrep "Disk /dev/(sd|md)" | sort | cut -d, -f1'

alias fsck-y='sudo fsck -fyv'
alias fsck-bby='sudo fsck -ccfyv'
alias fsck-bbp='sudo fsck -ccfpv'

alias smart-test='sudo smartctl -t long'
alias smart-test-abort='sudo smartctl -X'
alias smart-error='sudo smartctl -l error'
alias smart-errorx='sudo smartctl -l xerror'
alias smart-attr='sudo smartctl -A'

# query standby status without warking the drive
alias smart-sbstatus='sudo smartctl -n standby -i'
alias smart-sbstatus-all='for d in /dev/sd[a-z]; do 
    echo $d; sudo smartctl -n standby -i $d;
  done'
alias smart-sbstatus-all-short='for d in /dev/sd[a-z]; do
    echo $d; sudo smartctl -n standby -i $d | grep -o "Device is in STANDBY mode" \
      || echo "Device is ACTIVE";
  done'
alias smart-stats-all='for d in /dev/sd?; do
    echo -n "------\nSMART Device:     $d\n"
    sudo smartctl -a $d | egrep -i "^(Device Model|User Capacity|self-assessment test|\s*[0-9]+ .*0x)"
  done | egrep --color " ([1-9]|[0-9]+[0-9])\$|"'

# send drive to standby (not -Y sleep, which will wake e.g. on query)
alias hdparm-standby='sudo hdparm -y'
alias hdparm-standby-all='sudo hdparm -y /dev/sd[a-z]'
alias udevadm-reload-and-apply='sudo udevadm control --reload-rules && sudo udevadm trigger'

# raid
alias mdstat='cat /proc/mdstat'
alias mdstat-md=$'awk \'/^md/ {printf "%s: ", $1}; /blocks/ {print $NF}\' /proc/mdstat'
alias mdstat-sync='cat /sys/block/md*/md/sync_action'
alias mddetails='sudo mdadm --detail /dev/md*'

alias mdscrub='echo check | sudo tee /sys/block/md0/md/sync_action'
alias mdscrub-abort='echo idle | sudo tee /sys/block/md0/md/sync_action'
alias mdscrub-stats='sudo cat /sys/block/md0/md/mismatch_cnt'

alias mdcheck='/usr/share/mdadm/checkarray'
# }}} - SYSTEM ---------------------------------------------------------------

# {{{ - MOUNT ----------------------------------------------------------------
alias mount-saito-data='sudo mount -t cifs -o username=cbaoth,credentials=/etc/samba/cred-file,uid=cbaoth,gid=cbaoth,file_mode=0777,dir_mode=0777,iocharset=utf8 //saito/data /media/data'
# }}} - MOUNT ----------------------------------------------------------------

# {{{ - SECURITY -------------------------------------------------------------
alias authlog-ssh-ip='sudo grep "Failed" /var/log/auth.log \
  | egrep -o "([0-9]{1,3}\.){3}[0-9]{1,3}" \
  | grep -v sudo: | sort | uniq -c | sort -n'
alias authlog-ssh-ip-all='sudo zgrep "Failed" /var/log/auth.* \
  | egrep -o "([0-9]{1,3}\.){3}[0-9]{1,3}" \
  | grep -v sudo: | sort | uniq -c | sort -n'

alias authlog-ssh-user='sudo grep "Failed" /var/log/auth.log \
  | sed "s/.*for\( invalid user\)* \([^ ]*\) .*/\2/" \
  | grep -v sudo: | sort | uniq -c | sort -n'
alias authlog-ssh-user-all='sudo zgrep "Failed" /var/log/auth.* \
  | sed "s/.*for\( invalid user\)* \([^ ]*\) .*/\2/" \
  | grep -v sudo: | sort | uniq -c | sort -n'

alias authlog-ssh-ip-user='sudo grep "Failed" /var/log/auth.log \
  | sed "s/.*for\( invalid user\)* \([^ ]*\) from \([^ ]*\) .*/\3\t\2/" \
  | grep -v sudo: | sort | uniq -c | sort -n'
alias authlog-ssh-ip-user-all='sudo zgrep "Failed" /var/log/auth.* \
  | sed "s/.*for\( invalid user\)* \([^ ]*\) from \([^ ]*\) .*/\3\t\2/" \
  | grep -v sudo: | sort | uniq -c | sort -n'

alias fail2ban-yesterday='grep " Ban " /var/log/fail2ban.log | grep $(date +%Y-%m-%d -d yesterday)'
alias fail2ban-count-yesterday='grep " Ban " /var/log/fail2ban.log | grep $(date +%Y-%m-%d -d yesterday) | wc -l'
alias fail2ban-count-per-jail='grep " Ban " /var/log/fail2ban.log | sed -r "s/.*\[([^\]+)\]\s+Ban\s+([0-9.]{7,15})([^0-9].*|$)/\1/g" | sort | uniq -c | sort -nr'
alias fail2ban-count-per-jail-yesterday='grep " Ban " /var/log/fail2ban.log | grep $(date +%Y-%m-%d -d yesterday) | sed -r "s/.*\[([^\]+)\]\s+Ban\s+([0-9.]{7,15})([^0-9].*|$)/\1/g" | sort | uniq -c | sort -nr'
alias fail2ban-count-per-ip='grep " Ban " /var/log/fail2ban.log | sed -r "s/.*\[([^\]+)\]\s+Ban\s+([0-9.]{7,15})([^0-9].*|$)/\2 \1/g" | sort | uniq -c | sort -nr | sed -r "s/\s*([0-9]+)\s([0-9.]+)\s+(.*)/\2\t\3\t\1/g"'
alias fail2ban-count-per-ip-yesterday='grep " Ban " /var/log/fail2ban.log | grep $(date +%Y-%m-%d -d yesterday) | sed -r "s/.*\[([^\]+)\]\s+Ban\s+([0-9.]{7,15})([^0-9].*|$)/\2 \1/g" | sort | uniq -c | sort -nr | sed -r "s/\s*([0-9]+)\s([0-9.]+)\s+(.*)/\2\t\3\t\1/g"'
# }}} - SECURITY -------------------------------------------------------------

# {{{ - MAIL -----------------------------------------------------------------
#alias fetchmail='fetchmail --mda "formail -s procmail" -f $HOME/.fetchmailrc'
alias fetchmail='command -v fetchmail.sh >/dev/null \
  && fetchmail.sh \
  || fetchmail --mda "/usr/bin/spamc -e /usr/lib/dovecot/deliver" \
               -f $HOME/.fetchmailrc --bad-header accept'
alias mailq-flush='mailq -q'
alias mailq-del-all='sudo postsuper -d ALL'
alias mailq-del-deref='sudo postsuper -d ALL deferred'
# }}} - MAIL -----------------------------------------------------------------

# {{{ - DEV ------------------------------------------------------------------
alias ocamli='ledit ocaml'
alias cmucl="rlwrap -b \$BREAK_CHARS cmucl"
alias python-profile="python -m cProfile -s time"
# }}} - DEV ------------------------------------------------------------------

# {{{ - NETWORK --------------------------------------------------------------
alias wget="wget -U '$UAGENT'"
alias wget-mirror="wget -U '$UAGENT' -m -k -K -E -np -N"
alias aria2c="aria2c -U '$UAGENT' -c -x4 -j4"

alias proxy-set-tor-saito="export all_proxy='socks5://10.0.23.2:9050'"
alias proxy-set-tor-vpn="export all_proxy='socks5://10.10.0.1:9050'"
alias proxy-set-squid-vpn="export all_proxy='http://10.10.0.1:3128'"
alias proxy-unset="unset all_proxy"

alias ftp="ftp -p"
alias nfs-reexport='exportfs -ra'

alias ssh2='ssh -p 8090 -A'
alias scp2='scp -P 8090'

#alias ssh-tunnel-yavin-proxy='ssh -f yav.in -p 8090 -L 23128:127.0.0.1:3128 -N'
alias ssh-tunnel-yavin-rspamd='ssh -f yav.in -p 8090 -L 11334:127.0.0.1:11334 -N'

alias wake-saito='wakeonlan bc:5f:f4:9f:08:dc'
alias wake-motoko='wakeonlan 1C:1B:0D:E7:BE:B3'

alias speedtest='wget -O - -q https://raw.githubusercontent.com/sivel/speedtest-cli/master/speedtest.py | python'
# }}} - NETWORK --------------------------------------------------------------

# {{{ - XORG -----------------------------------------------------------------
alias xdisplay-local0='export DISPLAY=:0.0'
alias xdefaults-reload='xrdb -load ~/.Xdefaults'

alias xlog-multitail='multitail ~/{.xsession-errors,i3.log}'
alias xlog-startlog='cat ~/.x11startlog'

alias xprop-class='xprop WM_CLASS | cut -d\" -f2'
alias xprop-name='xprop WM_CLASS | cut -d\" -f4'
alias xprop-title='xprop WM_NAME | cut -d\" -f2'
alias xprop-role='xprop WM_WINDOW_ROLE | cut -d\" -f2'
alias xprop-type='xprop _NET_WM_WINDOW_TYPE | cut -d_ -f10'
alias xprop-basic="xprop WM_CLASS WM_NAME WM_WINDOW_ROLE _NET_WM_WINDOW_TYPE \
  |& sed -E 's/^\w*WM_(WINDOW_)?([^ (]+)(\(\w+\))?(:| = )/\2:\t/g;
             s/^NAME/TITLE/g;s/^(CLASS:\s+\"[^\"]*\"), (.*)/\1\nNAME:\t\2/g;
             s/\s*not found\.//g'"
alias barrierc='barrierc --enable-crypto -d ERROR'
# }}} - XORG -----------------------------------------------------------------

# {{{ - MULTIMEDIA -----------------------------------------------------------
alias mpv-nr='mpv --no-resume-playback'

# http://askubuntu.com/a/634655
alias yt="youtube-dl \
            -f 'bestvideo[vcodec=vp9]+bestaudio[acodec=opus]
                /bestvideo[vcodec=vp9]+bestaudio[acodec=vorbis]
                /bestvideo[vcodec=vp8]+bestaudio[acodec=opus]
                /bestvideo[vcodec=vp8]+bestaudio[acodec=vorbis]
                /bestvideo[ext=webm]+bestaudio[ext=webm]
                /bestvideo[ext=webm]+bestaudio[ext=ogg]
                /best[ext=webm]/bestvideo+bestaudio/best' \
            -i -o '%(title)s [%(id)s].%(ext)s'"
alias yta="youtube-dl \
            -f 'bestaudio[acodec=opus]/bestaudio[acodec=vorbis]
                /best[ext=webm]/best[ext=ogg]/best' \
            -i -x -o '%(title)s [%(id)s].ogg'"

#alias yta-mp3="youtube-dl \
#            --audio-format mp3 --audio-quality 160K \
#            -i -x -o '%(title)s [%(id)s].mp3'"

alias yta-m4a="youtube-dl \
            -f 'bestaudio[ext=m4a]' \
            -i -x -o '%(title)s [%(id)s].m4a'"

#alias mp3gain-track='replaygain -r 89 --no-album'
#alias mp3gain-album='replaygain -r 89'
alias mp3gain-track='mp3gain -p -e'
alias mp3gain-album='mp3gain -p -a'
alias mp3gain-ape2id3='ape2id3.py -v -f'

alias vorbisgain-track='vorbisgain -s'
alias vorbisgain-album='vorbisgain -a -s'

alias pa-loopback-on='pactl load-module module-loopback latency_msec=10'
alias pa-loopback-off='pactl unload-module module-loopback'

# http://wiki.hydrogenaudio.org/index.php?title=Foobar2000:ID3_Tag_Mapping
alias id3-clean-rec='find -type f -iname "*.mp3" -exec eyeD3 \
  --remove-comments --set-text-frame="TENC:" --set-text-frame="TOWN:" \
  --set-url-frame="WPAY:" --set-url-frame="WORS:" --set-url-frame="WCOM:" \
  --set-url-frame="WOAF:" --to-v2.4 {} \;'
alias id3-to-utf8-rec='find -type f -iname "*.mp3" -exec eyeD3 \
  --set-encoding=utf8 --force-update {} \;'
alias id3-remove-v1-rec='find -type f -iname "*.mp3" -exec eyeD3 \
  --remove-v1 {} \;'
# }}} - MULTIMEDIA -----------------------------------------------------------

# {{{ - SUBSTITUTION ---------------------------------------------------------
alias tr-to-lowercase="tr '[A-Z]' '[a-z]'"
alias tr-to-uppercase="tr '[a-z]' '[A-Z]'"

alias rename-reduce-periods-to-underscore="rename 's/\./_/g;s/_([^_]{1,5})$/.\$1/'"
alias rename-reduce-spaces-to-underscore="rename 's/ /_/g;s/_([^_]{1,5})$/.\$1/'"

alias rename-strip-specials="rename \"s/[^ \w()\[\]~&%#@.,+'-]/_/g\""
alias rename-strip-specials-rec="find . -type f -depth -execdir rename \"s/^\.\///g;
  s/[^ \w()\[\]~&%#@.,+'-]/_/g; s/^/\.\//\" '{}' +"

alias rename-to-titlecase="rename 's/(^|[\s_-])([a-z])/$1\u$2/g'"
alias rename-to-camelcase="rename 's/(^|[\s_-])([a-z])/\u$2/g'"

alias rename-exif-date-prefix='exiv2 -v -F -k -r %Y-%m-%d_%H%M%S_:basename:'

alias sed-to-titlecase="sed -E 's/(^|[\s_-])([a-z])/$1\u$2/g'"
alias sed-to-camelcase="sed -E 's/(^|[\s_-])([a-z])/\u$2/g'"

alias sed-url-clean="sed 's/%3a/:/gi; s/%2f/\//gi; s/[?&].*//g; s/%26/&/gi;
                          s/%3d/:/gi; s/%3f/?/gi'"
alias sed-url-clean2="sed 's/%3a/:/gi; s/%2f/\//gi; s/%26/&/gi; s/%3d/:/gi;
                           s/%3f/?/gi'"

alias sed-url-decode="sed -E 's/%([0-9A-F][0-9A-F])/\\\\\\\\x$1/g' | while read l;
  do echo -e \"\$l\"; done"

alias cat-utf16-to-utf8='iconv -f utf-16 -t utf-8'
alias cat-utf16-to-iso-8859-1='iconv -f utf-16 -t ISO-8859-1'
alias cat-utf8-to-iso-8859-1='iconv -f utf-8 -t ISO-8859-1'
# }}} - SUBSTITUTION ---------------------------------------------------------

# {{{ - MISC -----------------------------------------------------------------
alias cal-month='ncal -wM -m'
alias cal-year='ncal -ywM'

alias rm-dupes='jdupes -dNO'
alias rm-dupes-rec='jdupes -dNOr'

alias mysqlr='mysql -u root -p'
alias nice-java='ionice -n 19 `pgrep java`; renice -n 19 -p `pgrep java`'
alias sleep-usb='sudo ~/bin/scsi-idle 900&'
alias rpm-extract='rpm2cpio "$1" | cpio -ivd'

alias occ='sudo -u www-data php --define apc.enable_cli=1 /var/www/nextcloud/occ'
alias occd='cd /var/www/nextcloud; sudo -u www-data php --define apc.enable_cli=1 occ'
# }}} - MISC -----------------------------------------------------------------
